
<!-- Selecao -->
<div id="secao-1" style="margin-top: 15%; margin-bottom: 15%">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 ">
            <%= link_to  "#", class: "link-circulo", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title: "Um Mapa"  do %>
              <div class="circulo boletins ">
                <%= image_tag  "boletim.png", class: "foto-boletim" %>
                <div class="space-5"></div>
                <h3>Boletins</h3>
                <div class="tracejado-circulo"></div>
              </div>
            <% end %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <%= link_to  mapa_path(), class: "link-circulo", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title: "Um Mapa"  do %>
              <div class="circulo mapa">
                <%= image_tag "brazil-map.png", class: "foto-mapa" %>
                <div class="space-5"></div>
                <h3>Mapa</h3>
                <div class="tracejado-circulo"></div>
              </div>
            <% end %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <%= link_to  statistics_path(), class: "link-circulo", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title: "Um Mapa"  do %>
              <div class="circulo estatistica">
                <%= image_tag  "analytics.png", class: "foto-estatistica" %>
                <div class="space-5"></div>
                <h3>Estatistica</h3>
                <div class="tracejado-circulo"></div>
              </div>
            <% end %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <%= link_to  "#", class: "link-circulo", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title: "Um Mapa"  do %>
              <div class="circulo historico">
                <%= image_tag  "historico.png", class: "foto-historico" %>
                <h3>Histórico de<br> Visitas</h3>
                <div class="tracejado-circulo"></div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="space-4"></div>
        <div class="row" style="margin-top: 10%">
          <div class="col-md-2">
            <%= link_to  "#", class: "link-circulo", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title: "Um Mapa"  do %>
              <div class="circulo estrategia ">
                <%= image_tag  "idea.png", class: "foto-idea" %>
                <h3>Estratégias de Vigilancia</h3>
                <div class="tracejado-circulo"></div>
              </div>
            <% end %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <%= link_to  "#", class: "link-circulo", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title: "Um Mapa"  do %>
              <div class="circulo referencia">
                <%= image_tag  "mosquito.png", class: "foto-mosquito" %>
                <div class="space-5"></div>
                <h3>Referencias</h3>
                <div class="tracejado-circulo"></div>
              </div>
            <% end %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <%= link_to  "#", class: "link-circulo", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title: "Um Mapa"  do %>
              <div class="circulo quiz">
                <%= image_tag  "question.png", class: "foto-quiz" %>
                <div class="space-5"></div>
                <h3>Quiz</h3>
                <div class="tracejado-circulo"></div>
              </div>
            <% end %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <%= link_to  "#", class: "link-circulo", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title: "Um Mapa"  do %>
              <div class="circulo alertar">
                <%= image_tag  "alert.png", class: "foto-alerta" %>
                <div class="space-5"></div>
                <h3>Alertar</h3>
                <div class="tracejado-circulo"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<header id="secao-2" class="masthead text-white text-center" style="background-color: #00A310">
  <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
    <h1 class="text-uppercase mb-0">Start Bootstrap</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2>
  </div>
</header>

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="secao-3">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the
          complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract
          clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
      </div>
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="#">
        <i class="fa fa-download mr-2"></i>
        Download Now!
      </a>
    </div>
  </div>
</section>




